@charset "UTF-8";
/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.index-main .intro-img img, .index-main .index-seccion-dos .seccion-dos-1 .seccion2-1-img img, .index-main .index-seccion-dos .seccion-dos-2 .seccion2-2-img img, .universo-main .universo-seccion-dos a img, .galeria-main .carousel-inner .carousel-item img, .galeria-main .galeria-img div img {
  box-shadow: 2px 2px 15px 0 #c5e2e7; }

.index-main .intro-img, .universo-main .universo-intro-img {
  display: flex;
  justify-content: center;
  padding: 0.5rem; }

main h2 {
  text-decoration: underline;
  color: #c5e2e7;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center; }

main p {
  color: white;
  text-indent: 0.6rem;
  text-shadow: 0 0 10px black;
  font-size: 20px;
  margin-bottom: 0; }

/* --- MEDIA QUERIES CELULAR --- */
@media only screen and (min-width: 300px) and (max-width: 767px) {
  /* --- GENERAL --- */
  h1, h2, h3, h4 {
    text-align: center; }
  p {
    text-align: justify; }
  nav, .header-div {
    border-radius: 0; }
  /* --- INDEX --- */
  .index-main {
    /* -- SECCIÓN 2 -- */ }
    .index-main .intro-img img {
      width: 80%;
      height: auto; }
    .index-main .index-seccion-dos .seccion2-1-img img, .index-main .index-seccion-dos .seccion2-2-img img {
      width: 95%;
      height: auto; }
  /* --- EL UNIVERSO --- */
  .universo-main {
    /* -- SECCIÓN 2 -- */ }
    .universo-main .universo-intro-img {
      text-align: center; }
      .universo-main .universo-intro-img img {
        width: 80%;
        height: auto; }
    .universo-main .universo-seccion-dos {
      display: flex;
      flex-flow: column wrap;
      justify-content: none;
      align-items: center; }
      .universo-main .universo-seccion-dos img {
        width: 90%;
        height: auto; }
  /* --- GALERÍA --- */
  .galeria-main {
    /* -- CAROUSEL -- */
    /* -- SECCIÓN 2 -- */ }
    .galeria-main .carousel .carousel-item img {
      width: 80%;
      height: auto; }
    .galeria-main .galeria-img div {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .galeria-main .galeria-img div img {
        width: 85%;
        height: auto;
        margin: .4rem 0 .4rem 0; }
  /* --- NOTICIAS --- */
  .noticias-main .noticias-seccion .noticias-seccion-fila1, .noticias-main .noticias-seccion .noticias-seccion-fila2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .noticias-main .noticias-seccion .noticias-seccion-fila1 .noticia, .noticias-main .noticias-seccion .noticias-seccion-fila2 .noticia {
      width: 85%;
      height: auto;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin: .5rem; }
      .noticias-main .noticias-seccion .noticias-seccion-fila1 .noticia fieldset, .noticias-main .noticias-seccion .noticias-seccion-fila2 .noticia fieldset {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: auto; }
  /* --- SOBRE NOSOTROS --- */
  .sobrenosotros-main .formulario {
    overflow: hidden; }
    .sobrenosotros-main .formulario textarea {
      width: 100%; }
  /* --- FOOTER --- */
  .pie-pagina {
    width: auto; }
    .pie-pagina .footer-icons {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0; } }

/* --- MEDIA QUERIES TABLET --- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* --- NAV MENU --- */
  .navbar .navbar-collapse {
    display: flex !important;
    justify-content: flex-start; }
  .navbar .navbar-nav {
    flex-direction: row; }
  .navbar .nav-item {
    margin-left: 1rem; }
  .navbar .navbar-toggler {
    display: none; }
  /* --- INDEX --- */
  .index-main .introduccion-dos .div-uno {
    display: flex;
    flex-flow: column wrap;
    justify-content: none;
    align-items: center; }
    .index-main .introduccion-dos .div-uno div .p1 {
      margin-bottom: 0.5rem; }
  .index-main .introduccion-dos .div-dos {
    display: flex;
    flex-flow: column wrap;
    justify-content: none;
    align-items: center; }
    .index-main .introduccion-dos .div-dos a {
      margin-bottom: 0.6rem; }
  /* --- EL UNIVERSO --- */
  .universo-main .div-universo a img {
    width: 40vh;
    height: auto; }
  /* --- GALERÍA --- */
  .galeria-main .carousel {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
    .galeria-main .carousel .carousel-item img {
      width: 500px;
      height: auto; }
  .galeria-main .galeria-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .galeria-main .galeria-img div {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; }
      .galeria-main .galeria-img div img {
        width: 55%;
        height: auto;
        margin-top: 0.5rem; }
  /* --- NOTICIAS --- */
  .noticias {
    overflow: hidden; }
    .noticias .div-news1 .noticia, .noticias .div-news2 .noticia {
      justify-content: space-evenly; }
      .noticias .div-news1 .noticia p, .noticias .div-news2 .noticia p {
        display: none; } }

/* --- MEDIA QUERIES DESKTOP --- */
@media screen and (min-width: 1024px) {
  /* --- HEADER --- */
  .header-div {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  nav {
    border-radius: 100px; }
  /* -- INDEX -- */
  .index-main {
    /* -- DIVS -- */ }
    .index-main .seccion2-1-img {
      display: flex; }
      .index-main .seccion2-1-img img {
        width: auto;
        height: 300px; }
    .index-main .seccion2-2-img {
      display: flex; }
      .index-main .seccion2-2-img img {
        width: 450px;
        height: auto; }
  /* --- UNIVERSO --- */
  .universo-main .universo-intro-img img {
    width: 750px;
    height: auto; }
  .universo-main .universo-seccion-dos img {
    width: auto;
    height: 300px; }
  /* --- GALERÍA --- */
  .galeria-main .galeria-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    justify-content: space-evenly;
    margin: 0.5rem;
    gap: 0.3rem; }
    .galeria-main .galeria-img div img {
      width: 400px;
      height: auto;
      padding: 0;
      margin-bottom: 0.7rem; }
  /* --- NOTICIAS --- */
  .noticias-main .noticias-seccion-fila1, .noticias-main .noticias-seccion-fila2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center; }
    .noticias-main .noticias-seccion-fila1 .noticia, .noticias-main .noticias-seccion-fila2 .noticia {
      margin: 20px;
      width: 300px; } }

/* -- MAIN (INDEX) -- */
.index-main {
  /* -- SECCIÓN 1 -- */
  /* -- SECCIÓN 2 -- */ }
  .index-main .intro-img {
    margin: .5rem; }
    .index-main .intro-img img {
      border-radius: 50%; }
  .index-main .index-seccion-uno {
    margin: 1rem; }
  .index-main .index-seccion-dos {
    margin: 1rem;
    /* -- SECCIÓN 2.1 -- */
    /* -- SECCION 2.2 -- */ }
    .index-main .index-seccion-dos .seccion-dos-1 {
      /* -- DIVS -- */ }
      .index-main .index-seccion-dos .seccion-dos-1 .seccion2-1-img img {
        border-radius: 30px;
        margin-left: 0.5rem; }
    .index-main .index-seccion-dos .seccion-dos-2 .seccion2-2-img img {
      border-radius: 30px;
      margin-right: 0.5rem; }

/* --- EL UNIVERSO --- */
.universo-main {
  /* -- IMG DE UNIVERSO -- */
  /* -- PARRAFO INFERIOR IMG UNIVERSO -- */
  /* -- SECCION 1 -- */
  /* -- SECCION 2 - ORIGEN DEL UNIVERSO -- */ }
  .universo-main .click-img {
    width: auto;
    display: inline; }
    .universo-main .click-img a {
      font-style: italic; }
    .universo-main .click-img a:hover {
      text-decoration: dashed;
      color: #c5e2e7; }
  .universo-main .universo-seccion-uno article h4 {
    text-decoration: underline; }
  .universo-main .universo-seccion-dos a {
    display: flex;
    justify-content: center; }
    .universo-main .universo-seccion-dos a img {
      border-radius: 30px; }

/* -- MAIN (GALERÍA) -- */
.galeria-main {
  /* -- IMG Y SUS DESCRIPCIONES -- */
  /* -- SECCIÓN 2 -- */
  /* -- SECCIÓN LISTA DE SITIOS WEBS -- */ }
  .galeria-main .carousel-inner {
    overflow: visible; }
    .galeria-main .carousel-inner .carousel-item img {
      border-radius: 20px; }
    .galeria-main .carousel-inner .carousel-item h5 {
      color: #f7ff00;
      background-color: rgba(0, 0, 0, 0.75);
      display: inline-block;
      width: 50%; }
  .galeria-main .galeria-img div {
    width: auto;
    height: 100%; }
    .galeria-main .galeria-img div img {
      border-radius: 25px; }
  .galeria-main .galeria-seccion-list ul li {
    color: white; }
    .galeria-main .galeria-seccion-list ul li a:hover {
      font-style: italic;
      text-decoration: underline #c5e2e7;
      color: #c5e2e7; }

/* -- MAIN (NOTICIAS) -- */
.noticias-main {
  /* -- SECCIÓN DE NOTICIAS -- */
  /* -- NEWS WEBS LIST -- */ }
  .noticias-main .noticias-seccion {
    /* -- FILAS DE LAS NOTICIAS -- */ }
    .noticias-main .noticias-seccion h3 {
      font-style: italic; }
    .noticias-main .noticias-seccion img {
      width: 100%;
      height: auto;
      border-radius: 10px; }
    .noticias-main .noticias-seccion a {
      transition: .3s;
      text-decoration: none; }
    .noticias-main .noticias-seccion a:hover {
      font-style: italic;
      text-decoration: underline;
      font-size: 17px;
      transition: .3s; }
    .noticias-main .noticias-seccion .noticias-seccion-fila1 .noticia fieldset, .noticias-main .noticias-seccion .noticias-seccion-fila2 .noticia fieldset {
      color: #c5e2e7;
      border-radius: 10px;
      border: 2px solid #c5e2e7;
      padding: 0.5rem; }
    .noticias-main .noticias-seccion .noticias-seccion-fila1 .noticia h6, .noticias-main .noticias-seccion .noticias-seccion-fila2 .noticia h6 {
      color: white; }
  .noticias-main .lista-noticias ul li {
    color: white; }
    .noticias-main .lista-noticias ul li a:hover {
      font-style: italic;
      text-decoration: underline #c5e2e7;
      color: #c5e2e7; }

/* -- MAIN (SOBRENOSOTROS) -- */
.sobrenosotros-main {
  /* -- REDES SOCIALES -- */
  /* -- CAJA DE COMENTARIOS -- */
  /* MAPA */ }
  .sobrenosotros-main .info-redes-sociales h3, .sobrenosotros-main .info-comentario h3 {
    text-decoration: underline; }
  .sobrenosotros-main .info-redes-sociales ul {
    color: white;
    margin-bottom: 0; }
    .sobrenosotros-main .info-redes-sociales ul li img {
      background-color: white; }
    .sobrenosotros-main .info-redes-sociales ul a {
      text-decoration: none;
      color: white;
      font-style: italic; }
    .sobrenosotros-main .info-redes-sociales ul a:hover {
      text-decoration: underline;
      color: #c5e2e7; }
  .sobrenosotros-main .info-comentario .formulario {
    display: flex; }
    .sobrenosotros-main .info-comentario .formulario .comment-form {
      display: flex;
      flex-flow: column wrap;
      color: #c5e2e7;
      border-radius: 10px;
      border: 2px solid #c5e2e7;
      padding: 0.5rem; }
      .sobrenosotros-main .info-comentario .formulario .comment-form input {
        width: 200px;
        height: auto; }
      .sobrenosotros-main .info-comentario .formulario .comment-form textarea {
        margin-bottom: 0.5rem;
        resize: none; }
      .sobrenosotros-main .info-comentario .formulario .comment-form label {
        margin-top: 5px; }
      .sobrenosotros-main .info-comentario .formulario .comment-form .boton-enviar {
        background-color: #c5e2e7;
        color: #333;
        border: none;
        padding: 0.5rem;
        border-radius: 5px; }
      .sobrenosotros-main .info-comentario .formulario .comment-form .boton-enviar:hover {
        background-color: #ccc;
        color: #fff; }
  .sobrenosotros-main .mapa {
    margin: 1rem; }
    .sobrenosotros-main .mapa iframe {
      border-radius: 20px; }

/* -- BODY -- */
body {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/fondo.jpg);
  background-repeat: repeat;
  background-size: auto; }
  body .no-padding {
    padding: 0; }

/* -- HEADER -- */
header {
  margin: 0;
  /* -- TÍTULO -- */
  /* -- MENU NAV -- */ }
  header .header-div {
    background-color: #1a1818;
    display: flex;
    align-items: center;
    /* -- LOGO -- */ }
    header .header-div a img {
      width: 95px;
      height: 95px;
      margin: 0.5rem;
      padding: 0.5rem; }
    header .header-div h1 {
      color: #23439b;
      background-color: #1a1818;
      padding: 0.5rem;
      margin: 0; }
  header nav {
    border: 0.3px solid #c5e2e7; }
    header nav .navbar-toggler {
      background-color: #c5e2e7; }
    header nav .nav-link:hover {
      color: #c5e2e7; }
    header nav .nav-link:active {
      color: #c5e2e7; }
    header nav .nav-item {
      margin: 0 16px;
      position: relative; }
    header nav .nav-item::after {
      content: '';
      height: 2px;
      width: 0;
      position: absolute;
      background: #009688;
      left: 0;
      bottom: 8px;
      transition: .5s; }
    header nav .nav-item:hover::after {
      width: 100%; }

/* -- MAIN -- */
main {
  /* -- PREVIOUS & NEXT PAGE BUTTON -- */ }
  main h3 {
    color: #c5e2e7;
    margin-top: 0.5rem; }
  main h4 {
    color: #c5e2e7; }
  main img {
    transition: transform 0.3s ease; }
  main img:hover {
    transform: scale(1.02); }
  main hr {
    color: white; }
  main b {
    color: #3eedff; }
  main .previous-next-page {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    padding: 4px; }
    main .previous-next-page h5 a {
      color: white; }
    main .previous-next-page h5 a:hover {
      text-decoration: underline #c5e2e7;
      color: #c5e2e7; }

/* -- FOOTER -- */
.pie-pagina {
  background-color: #1a1818;
  margin-top: 0.7rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  /* -- ÍCONOS FOOTER -- */ }
  .pie-pagina h4 {
    background-color: #1a1818;
    color: #23439b;
    margin: 0.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .pie-pagina p {
    color: #c5e2e7;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .pie-pagina h6 {
    color: #c5e2e7; }
  .pie-pagina .footer-icons {
    display: flex;
    align-items: center; }
    .pie-pagina .footer-icons a {
      z-index: 10;
      padding: 0.5rem;
      transition: transform 0.3s ease; }
    .pie-pagina .footer-icons a:hover {
      transform: scale(1.1); }
