/* --- GALERÍA --- */
.galeria-main{
    /* -- IMGs DESCRIPTIONS -- */
    .carousel-inner{
        overflow: visible;
        .carousel-item{
            img{
                @extend %box-shadow;
                border-radius: 20px;
            }
            h5{
                color: #f7ff00;
                background-color: rgba(0, 0, 0, 0.75);
                display: inline-block;
                width: 50%;
            }
        }
    }
    
    /* -- SECTION 2 -- */
    .galeria-img{
        div{
            @include wyh (auto, 100%);
            img{
                @extend %box-shadow;
                border-radius: 25px;
            }
        }
    }

    /* -- WEBSITES LIST -- */
    .galeria-seccion-list{
        li{
            color: white;
            a:hover{
                font-style: italic;
                text-decoration: underline $color-secundario;
                color: $color-secundario
            }
        }
    }
}

