/* -- MAIN (INDEX) -- */
.index-main{
    .intro-img{
        margin: .5rem;
        @extend %flex;
        img{
            @extend %box-shadow;
            border-radius: 50%;
        }
    }
    .index-seccion-uno{
        margin: 1rem;
    }

    /* -- SECCION 2 -- */
    .index-seccion-dos{
        margin: 1rem;
        /* -- SECCION 2.1 -- */ 
        .seccion-dos-1{

            /* -- DIVS -- */ 
            .seccion2-1-img{
                display: flex;
                img{
                    @include wyh (auto, 300px);
                    @extend %box-shadow;
                    border-radius: 30px;
                    margin-left: 0.5rem;
                }
            }
        }

        /* -- SECCION 2.2 -- */
        .seccion-dos-2{
            .seccion2-2-img{
                display: flex;
                img{
                    @include wyh (450px, auto);
                    @extend %box-shadow;
                    border-radius: 30px;
                    margin-right: 0.5rem;
                }
                
            }
            
        }
    }
    .next-page{
        position: relative;
        left: 70em;
        width: fit-content;
        margin: 4px;
        padding: 4px;
        h5{
            a{
                color: white;
            }
            a:hover{
                text-decoration: underline $color-secundario;
                color: $color-secundario;
            }
        }
    }
}