/* --- NOTICIAS --- */
.noticias-main{
    /* -- NEWS SECTION -- */
    .noticias-seccion{
        h3{
            font-style: italic;
        }
        img{
            @include wyh (100%, auto);
            border-radius: 10px;
        }
        a{
            transition: .3s;
            text-decoration: none;
        }
        a:hover{
            font-style: italic;
            text-decoration: underline;
            font-size: 17px;
            transition: .3s;
        }
        
        /* -- NEWS ROWS -- */
        .noticias-seccion-fila1, .noticias-seccion-fila2{
            .noticia{
                fieldset{
                    color: $color-secundario;
                    border-radius: 10px;
                    border: 2px solid $color-secundario;
                    padding: 0.5rem;
                }
                h6{
                    color: white;
                }
            }
        }
    }

    /* -- NEWS WEBS LIST -- */
    .lista-noticias{
        ul{
            li{
                color: white;
                a:hover{
                    font-style: italic;
                    text-decoration: underline $color-secundario;
                    color: $color-secundario
                }
            }
        }
    }
}
