/* --- EL UNIVERSO --- */
.universo-main{
    /* -- UNIVERSE IMG -- */
    .universo-intro-img{
        @extend %flex;
    }
    /* -- IMG SUBTEXT -- */
    .click-img{
        width: auto;
        display: inline;
        a{
            font-style: italic;
        }
        a:hover{
            text-decoration: dashed;
            color: $color-secundario;
        }
    }

    /* -- SECTION 1 -- */
    .universo-seccion-uno{
        article{
            h4{
                text-decoration: underline;
            }
        }
    }

    /* -- SECTION 2 - ORIGEN DEL UNIVERSO -- */
    .universo-seccion-dos{
        a{
            display: flex;
            justify-content: center;
            img{
                @extend %box-shadow;
                border-radius: 30px;
            }
        }
    }
}