
/* --- MEDIA QUERIES PHONE --- */
@media only screen and (min-width:300px) and (max-width:550px){

    /* --- OVERALL --- */
    h1, h2, h3, h4{
        text-align: center;
    }
    p{
        text-align: justify;
    }
    nav, .header-div{
        border-radius: 0;
    } 

    /* --- INDEX --- */
    .index-main{
        .intro-img{
            img{
                @include wyh (80%, auto);
            }
        }

        .index-seccion-dos{
            .seccion2-1-img, .seccion2-2-img{
                img{
                    @include wyh (95%, auto);
                }
            }
        }    
    }
    
    /* --- EL UNIVERSO --- */
    .universo-main{
        .universo-intro-img{
            text-align: center;
            img{
                @include wyh (80%, auto);
            }
        }

        .universo-seccion-dos{
            @include flex (column, wrap, none, center);
            img{
                @include wyh (90%, auto);
            }
        }
    }

    /* --- GALERÍA --- */
    .galeria-main{
        .carousel{
            .carousel-item{
                img{
                    @include wyh (80%, auto);
                }
            }
        }

        .galeria-img{
            div{
                @include flex (column, wrap, center, center);
                img{
                    @include wyh (85%, auto);
                    margin: .4rem 0 .4rem 0;
                }
            }
            
        }
    }

    /* --- NOTICIAS --- */
    .noticias-main{
        .noticias-seccion{
            .noticias-seccion-fila1, .noticias-seccion-fila2{
                @include flex (column, wrap, center, center);
                .noticia{
                    @include wyh (85%, auto);
                    @include flex (column, wrap, center, center);
                    margin: .5rem;
                    fieldset{
                        @include flex (column, wrap, center, center);
                        @include wyh (95%, auto);
                    }
                }
            }
        }
    }
    

    /* --- SOBRE NOSOTROS --- */
    .sobrenosotros-main{
        .formulario{
            overflow: hidden;
            textarea{
                width: 100%;
            }
        }
    }

    /* --- FOOTER --- */
    .pie-pagina{
        width: auto;
        .footer-icons{
            @include flex (row, wrap, center, center);
        }
    }
}


/* --- MEDIA QUERIES TABLET --- */
@media only screen and (min-width:750px) and (max-width:1023px){

    /* --- NAV MENU --- */
    .navbar{
        .navbar-collapse{
            display: flex;
            justify-content: flex-start;
        }
        .navbar-nav {
            flex-direction: row;
        }
        .nav-item {
            margin-left: 1rem;
        } 
        .navbar-toggler {
            display: none;
        }
    }

    /* --- INDEX --- */
    .index-main{
        .seccion2-1-img, .seccion2-2-img{
            display: flex;
            flex-direction: column;
            img{
                @include wyh (95%, auto);
            }
        }  
    }

    /* --- EL UNIVERSO --- */
    .universo-main{
        /* -- IMGs -- */
        .universo-intro-img, .universo-seccion-dos{
            img{
                @include wyh (55vh, auto)
            }
        }
    }

    /* --- GALERÍA --- */
    .galeria-main{
        .carousel{
            .carousel-item{
                img{
                    @include wyh (510px, 450px);
                }
            }
        }

        .galeria-img{
            div{
                @include flex (column, wrap, center, center);
                img{
                    @include wyh (55%, auto);
                    margin-top: 1rem;
                }
                p{
                    margin-top: 1rem;
                }
            }
        }
    }

    /* --- NOTICIAS --- */
    .noticias-main{
        .noticias-seccion-fila1, .noticias-seccion-fila2{
            @include flex (column, wrap, center, center);
            .noticia{
                @include wyh (650px, auto);
                margin: 1rem;
                fieldset{
                    display: grid;
                    img{
                        grid-area: img;
                        @include wyh (95%, 100%);
                    }
                    h3{
                        grid-area: h3;
                        margin-left: 5px;
                    }
                    h6{
                        grid-area: h6;
                    }
                    a{
                        grid-area: a;
                    }
                    grid-template-areas: 
                    "img h3 h3"
                    "img h3 h3"
                    "img h6 a";
                }
            }
        }
    }  
}


/* --- MEDIA QUERIES DESKTOP --- */
@media screen and (min-width: 1024px){
    
    /* --- HEADER --- */
    .header-div{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    nav{
        border-radius: 100px;
    }

    /* --- INDEX --- */
    .index-main{
        .seccion2-1-img{
            display: flex;
            img{
                @include wyh (auto, 300px);
            }
        }

        .seccion2-2-img{
            display: flex;
            img{
                @include wyh (450px, auto);
            }
        }
    }

    /* --- UNIVERSO --- */
    .universo-main{
        .universo-intro-img{
            img{
                @include wyh (750px, auto);
            }
        }
        
        .universo-seccion-dos{
            img{
                @include wyh (auto, 300px);
            }
        }
    }

    /* --- GALERÍA --- */
    .galeria-main{
        .galeria-img{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 50%);
            justify-content: space-evenly;
            margin: 0.5rem;
            gap: 0.3rem;
            div{
                img{
                    @include wyh (400px, auto);
                    padding: 0;
                    margin-bottom: 0.7rem;
                }
            }
        }
    }

    /* --- NOTICIAS --- */
    .noticias-main{
        .noticias-seccion-fila1, .noticias-seccion-fila2{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            justify-items: center;
            .noticia{
                margin: 20px;
                width: 300px;
            }
        }
    }
}